# Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# ZORIX TRON / TRC20
NEXT_PUBLIC_DEPOSIT_ADDRESS=YOUR_TRON_RECEIVING_ADDRESS
NEXT_PUBLIC_USDT_TRON_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
NEXT_PUBLIC_NETWORK_MODE=mainnet
